
.span {
    color: orange;
    cursor: pointer;
}
.span:hover {
    color: green;
}

.contact_wrapper {
    display: flex;
    height: 100vh;
}
.left {
    flex: 1;
}
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back_btn {
    background-color: black;
    color: white;
    width: 50%;
    border-radius: 10px;
    padding: 15px;
    margin: 1rem 2rem 
}

.poly_bg {
    height: 100%;
    width: 90%;
    opacity: 20%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    clip-path: polygon(100% 0%, 10% 54%, 60% 100%, 34% 100%, 0% 50%, 37% 0);

}