.c {
    height: 100vh;
    position: relative;
}

.c_bg {
    width: 20px;
    height: 100%;
    background-color: black;
    position: absolute;
}

.c_wrapper {
    display: flex;
    padding: 50px;
}

.c_left {
    flex: 1;
    margin-left: 3rem;
}

.c_right {
    flex: 1;
}
.c_backHome {
    color: orange;
}
.c_title {
    font-size: 50px;
    font-weight: 800;
    width: 70%;
    animation: apparition 0.8s ease-out;
}
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes apparition2 {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.c_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.c_icon {
    height: 30px;
    width: 30px;
}
.c_icon_text_1 {
    margin-left: 20px;
    font-size: larger;
    font-weight: 500;
    animation: apparition2 1s ease-out;
}
.c_icon_text_2 {
    margin-left: 20px;
    font-size: larger;
    font-weight: 500;
    animation: apparition2 2s ease-out;
}
.c_icon_text_3 {
    margin-left: 20px;
    font-size: larger;
    font-weight: 500;
    animation: apparition2 3s ease-out;
}
.c_info_item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-weight: 300;
}