.i {
    display: flex;
    height: 100vh;
}

.i_left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i_right {
    flex: 1;
    position: relative;
}

.i_left_wrapper {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i_description {
    margin-top: 2rem;
    line-height: 1.2rem;
    font-size: medium;
    text-align: justify;
}

.i_intro {
    font-size: 2rem;
    font-weight: 300;
}
.i_name {
    font-size: 60px;
}

.i_skip {
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}
.i_surprise_chat{
    color: orange;
    font-style: italic;
    font-weight: 600;
    font-size:larger;
    text-align:right;
}
.i_surprise_chat:hover {
    color: black;
}
.i_title {
    height: 50px;
    overflow: hidden;
}

.i_title_wrapper {
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
}
@keyframes move {
    50%{
        transform: translateY(-50px);
    }
    75%{
        transform: translateY(-75px);
    }
    100%{
        transform: translateY(-120px);
    }
}

.i_title_item{
    font-size: 25px;
    font-weight: bold;
    color: orange;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

/* ------- RIGHT SIDE -------------------------- */

.i_image {
    width: 100%;
    object-fit: cover;
}


@media screen and (max-width:480px) {
    .i {
        flex-direction: column;
        height: 180vh;
    }
    .i_left_wrapper {
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    .i_description {
        margin: 1rem;
    }
}
