.i {
    display: flex;
    height: 100vh;
}

.i_left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.i_right {
    flex: 1;
    position: relative;
}

.i_left_wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i_description {
    line-height: 1.5rem;
    font-size: large;
    text-align: justify;
}

.i_intro {
    font-size: 2rem;
    font-weight: 300;
}
.i_name {
    font-size: 60px;
}

.i_skip {
    margin-top: 100px;
    font-size: 1.5rem;
    font-weight: 500;
}
.i_surprise_chat{
    color: orange;
    font-style: italic;
    font-weight: 600;
    font-size:larger;
    text-align:right;
}
.i_surprise_chat:hover {
    color: black;
}
.i_title {
    height: 50px;
    overflow: hidden;
}

.i_title_wrapper {
    height: 100%;
    animation: move 6s ease-in-out infinite alternate;
}
@keyframes move {
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-100px);
    }
}

.i_title_item{
    height: 50px; 
    font-size: 30px;
    font-weight: bold;
    color: green;
    display: flex;
    align-items: center;
}

/* ------- RIGHT SIDE -------------------------- */

.i_image {
    width: 100%;
    object-fit: cover;
}

