.projects_WCS {
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
}
.project_WCS {
    border: 2px solid red;
    padding: .5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
